img{
    width: 300px;
}

body{
    background-color: rgb(214, 57, 57);
}

h1{
    color: #e0e0c1;
}

h2{
    color: #e0e0c1;
}

p{
    color: #e0e0c1;
}

.Img{
    font-size: 30px;
    color: rgb(240, 240, 240);
}